In [1]:
import pandas as pd
from datetime import timedelta
from pandasql import sqldf

# Reading and analysing change events

In [2]:
# Read change_events.csv and convert timestamps to datetime objects
change_events_df = pd.read_csv('./input_files/change_events.csv')
change_events_df['triggered_at_timestamp'] = pd.to_datetime(change_events_df['timestamp'])

/var/folders/np/4fnct5452jgcxsyz4pctx7f40000gn/T/ipykernel_82445/1318153800.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  change_events_df['triggered_at_timestamp'] = pd.to_datetime(change_events_df['timestamp'])

In [3]:
change_events_df.dtypes

id                                 int64
account_id                         int64
service_id                         int64
title                             object
timestamp                         object
triggered_at_timestamp    datetime64[ns]
dtype: object

In [4]:
change_events_df[["timestamp", "triggered_at_timestamp"]]

                 timestamp triggered_at_timestamp
0   2021-07-31 12:04:48 AM    2021-07-31 00:04:48
1   2021-07-31 12:19:06 AM    2021-07-31 00:19:06
2   2021-07-31 12:20:11 AM    2021-07-31 00:20:11
3   2021-07-31 12:20:20 AM    2021-07-31 00:20:20
4   2021-07-31 12:40:10 AM    2021-07-31 00:40:10
5   2021-07-31 12:42:15 AM    2021-07-31 00:42:15
6   2021-07-31 12:52:16 AM    2021-07-31 00:52:16
7   2021-07-31 12:55:12 AM    2021-07-31 00:55:12
8    2021-07-31 1:01:14 AM    2021-07-31 01:01:14
9    2021-07-31 1:03:33 AM    2021-07-31 01:03:33
10   2021-07-31 1:42:39 AM    2021-07-31 01:42:39
11   2021-07-31 1:49:38 AM    2021-07-31 01:49:38
12   2021-07-31 1:56:51 AM    2021-07-31 01:56:51
13   2021-07-31 2:00:06 AM    2021-07-31 02:00:06
14   2021-07-31 2:11:40 AM    2021-07-31 02:11:40
15   2021-07-31 2:13:18 AM    2021-07-31 02:13:18
16   2021-07-31 2:24:44 AM    2021-07-31 02:24:44
17   2021-07-31 2:36:35 AM    2021-07-31 02:36:35
18   2021-07-31 2:38:16 AM    2021-07-31 02:38:16
19   2021-07-31 2:41:20 AM    2021-07-31 02:41:20
20   2021-07-31 2:52:57 AM    2021-07-31 02:52:57
21   2021-07-31 3:03:51 AM    2021-07-31 03:03:51
22   2021-07-31 3:07:00 AM    2021-07-31 03:07:00
23   2021-07-31 3:07:28 AM    2021-07-31 03:07:28
24   2021-07-31 3:16:26 AM    2021-07-31 03:16:26
25   2021-07-31 3:32:02 AM    2021-07-31 03:32:02
26   2021-07-31 3:35:23 AM    2021-07-31 03:35:23
27   2021-07-31 3:37:39 AM    2021-07-31 03:37:39
28   2021-07-31 3:45:39 AM    2021-07-31 03:45:39
29   2021-07-31 4:03:43 AM    2021-07-31 04:03:43
30   2021-07-31 4:09:22 AM    2021-07-31 04:09:22
31   2021-07-31 4:22:40 AM    2021-07-31 04:22:40
32   2021-07-31 4:23:56 AM    2021-07-31 04:23:56
33   2021-07-31 4:24:56 AM    2021-07-31 04:24:56
34   2021-07-31 4:29:40 AM    2021-07-31 04:29:40
35   2021-07-31 4:36:50 AM    2021-07-31 04:36:50
36   2021-07-31 4:38:52 AM    2021-07-31 04:38:52
37   2021-07-31 4:49:34 AM    2021-07-31 04:49:34
38   2021-07-31 5:26:29 AM    2021-07-31 05:26:29
39   2021-07-31 5:35:50 AM    2021-07-31 05:35:50
40   2021-07-31 5:50:59 AM    2021-07-31 05:50:59
41   2021-07-31 5:53:28 AM    2021-07-31 05:53:28
42   2021-07-31 6:05:24 AM    2021-07-31 06:05:24
43   2021-07-31 6:09:55 AM    2021-07-31 06:09:55
44   2021-07-31 6:23:08 AM    2021-07-31 06:23:08
45   2021-07-31 6:24:44 AM    2021-07-31 06:24:44
46   2021-07-31 6:47:32 AM    2021-07-31 06:47:32
47   2021-07-31 7:11:54 AM    2021-07-31 07:11:54
48   2021-07-31 7:18:23 AM    2021-07-31 07:18:23
49   2021-07-31 7:20:18 AM    2021-07-31 07:20:18
50   2021-07-31 8:07:06 AM    2021-07-31 08:07:06
51   2021-07-31 8:14:50 AM    2021-07-31 08:14:50
52   2021-07-31 9:04:30 AM    2021-07-31 09:04:30
53   2021-07-31 9:08:41 AM    2021-07-31 09:08:41
54   2021-07-31 9:12:19 AM    2021-07-31 09:12:19

In [5]:
change_events_df.shape

(55, 6)

In [6]:
change_events_df[["account_id", "service_id", "title"]].head(15)

    account_id  service_id                                              title
0      1234567      111113  Build Success: Increase snapshot create timeou...
1      1234567      111115  DE-100: Change AWS Security Group Policy (comm...
2      1234567      111111                                 Merge Pull Request
3      1234567      111114  DE-100: Change AWS Security Group Policy (comm...
4      1234567      111111                                 Merge Pull Request
5      1234567      111113  DE-100: Change AWS Security Group Policy (comm...
6      1234567      111111                                 Merge Pull Request
7      1234567      111115  DE-100: Change AWS Security Group Policy (comm...
8      1234567      111115  DE-100: Change AWS Security Group Policy (comm...
9      1234567      111112  Lorem ipsum dolor sit amet, consectetuer adipi...
10     1234567      111112  DE-100: Change AWS Security Group Policy (comm...
11     1234567      111112          Production Jenkins Pipeline Change event.
12     1234567      111115                       Successfully deployed module
13     1234567      111114  DE-100: Change AWS Security Group Policy (comm...
14     1234567      111112          Production Jenkins Pipeline Change event.

# Reading and analysing incident events

In [7]:
# Read incident_events.csv and convert timestamps to datetime objects
incident_events_df = pd.read_csv('./input_files/incident_events.csv')
incident_events_df['triggered_at_timestamp'] = pd.to_datetime(incident_events_df['triggered_at'])

/var/folders/np/4fnct5452jgcxsyz4pctx7f40000gn/T/ipykernel_82445/1183111356.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  incident_events_df['triggered_at_timestamp'] = pd.to_datetime(incident_events_df['triggered_at'])

In [8]:
incident_events_df.dtypes

id                                 int64
account_id                         int64
service_id                         int64
title                             object
triggered_at                      object
triggered_at_timestamp    datetime64[ns]
dtype: object

In [9]:
incident_events_df[["triggered_at", "triggered_at_timestamp"]]

               triggered_at triggered_at_timestamp
0    2021-07-31 12:00:27 AM    2021-07-31 00:00:27
1    2021-07-31 12:07:33 AM    2021-07-31 00:07:33
2    2021-07-31 12:11:22 AM    2021-07-31 00:11:22
3    2021-07-31 12:12:08 AM    2021-07-31 00:12:08
4    2021-07-31 12:14:07 AM    2021-07-31 00:14:07
..                      ...                    ...
142   2021-07-31 9:46:50 AM    2021-07-31 09:46:50
143   2021-07-31 9:47:05 AM    2021-07-31 09:47:05
144   2021-07-31 9:50:20 AM    2021-07-31 09:50:20
145   2021-07-31 9:54:29 AM    2021-07-31 09:54:29
146   2021-07-31 9:59:21 AM    2021-07-31 09:59:21

[147 rows x 2 columns]

In [10]:
incident_events_df.shape

(147, 6)

In [11]:
incident_events_df[["account_id", "service_id", "title"]].head(10)

   account_id  service_id                                              title
0     1234567      111113                              HTTPS service is down
1     1234567      111112                                     Are you awake?
2     1234567      111114                                 Health check error
3     1234567      111112                                     Are you awake?
4     1234567      111111                 API endpoint 123 is not responding
5     1234567      111112  Fusce posuere felis sed lacus. Morbi sem mauri...
6     1234567      111111                 API endpoint 456 is not responding
7     1234567      111112  Fusce posuere felis sed lacus. Morbi sem mauri...
8     1234567      111111                 API endpoint 789 is not responding
9     1234567      111113                              HTTPS service is down

In [12]:
incident_events_df.dtypes

id                                 int64
account_id                         int64
service_id                         int64
title                             object
triggered_at                      object
triggered_at_timestamp    datetime64[ns]
dtype: object

In [13]:
time_interval = timedelta(minutes=60).total_seconds()

query = f"""SELECT 
        incident_events_df.account_id as incident_acct,
        change_events_df.account_id as change_acct,
        incident_events_df.service_id as incident_service,
        change_events_df.service_id as change_service,
        incident_events_df.triggered_at_timestamp as incident_time,
        change_events_df.triggered_at_timestamp as change_time,
        incident_events_df.title as incident_title,
        change_events_df.title as change_title
        
FROM 
    incident_events_df
JOIN 
    change_events_df ON incident_events_df.account_id = change_events_df.account_id
    AND incident_events_df.service_id = change_events_df.service_id
WHERE 
    change_events_df.triggered_at_timestamp >= DATETIME(incident_events_df.triggered_at_timestamp, '-{time_interval} seconds')
        AND change_events_df.triggered_at_timestamp < incident_events_df.triggered_at_timestamp"""
sqldf(query).to_csv('teste.csv', index=False)

In [14]:

time_interval = timedelta(minutes=60).total_seconds()

query = f"""SELECT 
    incident_events_df.title AS incident_title,
    change_events_df.title AS change_title,
    COUNT(*) AS value
             
FROM 
    incident_events_df
JOIN 
    change_events_df ON incident_events_df.account_id = change_events_df.account_id
    AND incident_events_df.service_id = change_events_df.service_id
WHERE 
    change_events_df.triggered_at_timestamp >= DATETIME(incident_events_df.triggered_at_timestamp, '-{time_interval} seconds')
        AND change_events_df.triggered_at_timestamp < incident_events_df.triggered_at_timestamp
GROUP BY 
    incident_events_df.title, change_events_df.title;
        """
incident_caused_by_change_df = sqldf(query)

In [22]:

time_interval = timedelta(minutes=60).total_seconds()

query = f"""SELECT 
    '(' || incident_events_df.title || ',' || change_events_df.title || ')' as key,
    COUNT(*) AS value
             
FROM 
    incident_events_df
JOIN 
    change_events_df ON incident_events_df.account_id = change_events_df.account_id
    AND incident_events_df.service_id = change_events_df.service_id
WHERE 
    change_events_df.triggered_at_timestamp >= DATETIME(incident_events_df.triggered_at_timestamp, '-{time_interval} seconds')
        AND change_events_df.triggered_at_timestamp < incident_events_df.triggered_at_timestamp
GROUP BY 
    incident_events_df.title, change_events_df.title;
        """
df = sqldf(query)

In [23]:
print(df)

                                                  key  value
0   (***************critical incident*************...      5
1   (***************critical incident*************...      4
2   (***************critical incident*************...      6
3   (***************critical incident*************...      2
4   (***************critical incident*************...      7
5   (***************critical incident*************...      4
6   (***************critical incident*************...      8
7   (***************not important incident********...      4
8   (***************not important incident********...      3
9   (***************not important incident********...     13
10  (***************not important incident********...      1
11  (***************not important incident********...      7
12  (***************not important incident********...      7
13  (***************not important incident********...      4
14  (API endpoint 123 is not responding,DE-100: Ch...      2
15  (API endpoint 123 is not responding,Merge Pull...      5
16  (API endpoint 456 is not responding,Build Succ...      1
17  (API endpoint 456 is not responding,Merge Pull...      2
18  (API endpoint 789 is not responding,Merge Pull...      3
19         (Are you awake?,Bug fix in code: line 100)      1
20  (Are you awake?,Build Success: Increase snapsh...      2
21  (Are you awake?,DE-100: Change AWS Security Gr...     10
22  (Are you awake?,Lorem ipsum dolor sit amet, co...      4
23                (Are you awake?,Merge Pull Request)      4
24  (Are you awake?,Production Jenkins Pipeline Ch...     16
25      (Are you awake?,Successfully deployed module)      4
26  (Fusce posuere felis sed lacus. Morbi sem maur...      1
27  (HTTPS service is down,Build Success: Increase...      3
28  (HTTPS service is down,DE-100: Change AWS Secu...      6
29     (Health check error,Bug fix in code: line 100)      1
30  (Health check error,DE-100: Change AWS Securit...      6
31  (Health check error,Lorem ipsum dolor sit amet...      1
32  (Health check error,Successfully deployed module)      3

In [17]:
incident_caused_by_change_df['key'] = '(' + incident_caused_by_change_df['incident_title'].astype(str) + ', ' + incident_caused_by_change_df['change_title'].astype(str) + ')'

In [19]:
print(incident_caused_by_change_df[["key"]])

                                                  key
0   (***************critical incident*************...
1   (***************critical incident*************...
2   (***************critical incident*************...
3   (***************critical incident*************...
4   (***************critical incident*************...
5   (***************critical incident*************...
6   (***************critical incident*************...
7   (***************not important incident********...
8   (***************not important incident********...
9   (***************not important incident********...
10  (***************not important incident********...
11  (***************not important incident********...
12  (***************not important incident********...
13  (***************not important incident********...
14  (API endpoint 123 is not responding, DE-100: C...
15  (API endpoint 123 is not responding, Merge Pul...
16  (API endpoint 456 is not responding, Build Suc...
17  (API endpoint 456 is not responding, Merge Pul...
18  (API endpoint 789 is not responding, Merge Pul...
19        (Are you awake?, Bug fix in code: line 100)
20  (Are you awake?, Build Success: Increase snaps...
21  (Are you awake?, DE-100: Change AWS Security G...
22  (Are you awake?, Lorem ipsum dolor sit amet, c...
23               (Are you awake?, Merge Pull Request)
24  (Are you awake?, Production Jenkins Pipeline C...
25     (Are you awake?, Successfully deployed module)
26  (Fusce posuere felis sed lacus. Morbi sem maur...
27  (HTTPS service is down, Build Success: Increas...
28  (HTTPS service is down, DE-100: Change AWS Sec...
29    (Health check error, Bug fix in code: line 100)
30  (Health check error, DE-100: Change AWS Securi...
31  (Health check error, Lorem ipsum dolor sit ame...
32  (Health check error, Successfully deployed mod...

In [86]:
# Write the results to a new CSV file
incident_caused_by_change_df.to_csv('incident_caused_by_change.csv', index=False)
print("Output saved to incident_caused_by_change.csv")

Output saved to incident_caused_by_change.csv